label {
    color: rgb(97, 158, 179);
    border: 1px solid;
    border-radius: 12px;
    width: 150px;
    text-align: center;
    padding: 8px;
    cursor: pointer;
}

#shot_button {
    display: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}